.image-section {
  padding-top: 7.188em;

  @media screen and (max-width: 767px) {
    padding-top: 1.875em;
  }

  &__title {
    padding: 0;
    margin: 0 0 50px;
    display: inline-block;
    position: relative;
    font: 400 24px/27px Play;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      margin-left: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      margin: auto;
      width: 8em;
      height: .05em;
      bottom: -.8em;
      left: 0;
      background-color: #BE9F7B;
    }
  }

  &__time {
    font: 400 20px/32px Play;
    color: #181818;

    @media screen and (max-width: 767px) {
      margin-left: 20px;
    }
  }

  .subtitle {
    display: block;
    text-align: center;
    margin-bottom: 3em;

    &:after {
      width: 10em;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: 10em;

      @media screen and (max-width: 767px) {
        margin-bottom: 5em;
      }
    }

    & > div {
      width: 50%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    p {
      font: 400 1.25em/2em Play;
      color: #939393;

      @media screen and (max-width: 767px) {
        font-size: 1.125em;
        padding: 0 .5em;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
    }

    li {
      position: relative;
      padding-left: 2.5em;
      margin-bottom: 2em;
      width: 50%;
      font: 400 1.25em/1.438em Play;
      color: #181818;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-left: 10%;
        margin-right: 0;
        padding-left: 1.875em;
        font-size: 1.125em;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 1.5em;
        height: 0.063em;
        background-color: #BE9F7B;
      }

      &:nth-of-type(2n) {
        padding-left: 4.375em;

        @media screen and (max-width: 767px) {
          padding-left: 1.875em;
        }

        &::before {
          left: 1.875em;

          @media screen and (max-width: 767px) {
            left: 0;
          }
        }
      }
    }
  }

  &__static-image {
    img {
      @media screen and (max-width: 767px) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__text-block {
    padding-right: 3.125em;

    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
  }

  &--about {
    .image-section__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 5em;
      padding-right: 5em;

      @media screen and (max-width: 1099px) {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
      }

      &:not(:last-of-type) {
        margin-bottom: 10em;

        @media screen and (max-width: 1099px) {
          margin-bottom: 5em;
        }
      }

      & > div {
        width: 50%;

        @media screen and (max-width: 1099px) {
          width: 100%;
          padding: 0;
        }

        &:nth-of-type(2) {
          p {
            @media screen and (max-width: 1200px) {
              padding-left: 3.125em;
            }
          }
        }
      }

      p {
        font: 400 1.25em/2em Play;
        color: #939393;

        @media screen and (max-width: 1099px) {
          font-size: 1.125em;
          padding: 0 .5em;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 767px) {
          flex-direction: column;
        }

        @media screen and (max-width: 1099px) {
          padding: 0 10%;
        }
      }

      li {
        position: relative;
        padding-left: 2.5em;
        margin-bottom: 2em;
        width: 50%;
        font: 400 1.25em/1.438em Play;
        color: #181818;

        @media screen and (max-width: 767px) {
          width: 100%;
          margin-left: 10%;
          margin-right: 0;
          padding-left: 1.875em;
          font-size: 1.125em;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1.5em;
          height: 0.063em;
          background-color: #BE9F7B;
        }

        &:nth-of-type(2n) {
          padding-left: 4.375em;

          @media screen and (max-width: 767px) {
            padding-left: 1.875em;
          }

          &::before {
            left: 1.875em;

            @media screen and (max-width: 767px) {
              left: 0;
            }
          }
        }
      }
    }

    .image-section__static-image {

      @media screen and (max-width: 1099px) {
        margin-top: 2.5em;
      }

      img {
        @media screen and (max-width: 767px) {
          width: 100%;
          height: auto;
        }

        @media screen and (max-width: 1099px) {
          display: block;
          margin: auto;
        }
      }
    }
  }
}
