.solution {
  display: flex;
  padding-bottom: 49px;
  border-bottom: 1px solid #EAEAEB;;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    width: 90%;
  }

  &:not(:first-of-type) {
    padding-top: 49px;
  }

  &__container {
    flex: 1;
  }

  &__image {
    display: flex;
    align-items: center;
    margin-right: 40px;
    width: 219px;
    border: 1px solid #939393;

    @media screen and (max-width: 1200px) {
      margin: auto auto 20px;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 44px;
    width: 80%;
    text-transform: uppercase;
    font: 400 20px/24px Play;
    color: #181818;

    @media screen and (max-width: 1200px) {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      margin: auto;
      width: 5em;
      height: 2px;
      bottom: -20px;
      left: 0;
      background-color: #BE9F7B;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    min-width: 350px;

    @media screen and (max-width: 1200px) {
      min-width: inherit;
      margin-bottom: 43px;
    }
  }

  &__characteristic {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      border-bottom: 1px dashed #939393;
    }

    //&:not(:last-of-type) {
    //  margin-bottom: 12px;
    //}

    &-name {
      position: relative;
      padding-bottom: 5px;
      display: block;
      font: 400 16px/19px Play;
      color: #939393;
      background-color: #ffffff;
    }

    &-data {
      position: relative;
      padding-bottom: 5px;
      min-width: 100px;
      font: 400 16px/19px Play;
      color: #000000;
      background-color: #ffffff;

      @media screen and (max-width: 1200px) {
        min-width: inherit;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }

  &__price {
    color: #BE9F7B;

    &--new {
      margin-bottom: 8px;
      font: 400 32px/37px Play;
    }

    &--old {
      font: 400 20px/23px Play;
      text-decoration-line: line-through;
    }
  }

  .btn {
    width: 182px;
    padding: 12px 5px 11px;
    font: 400 20px/23px Play;
    color: #FFFFFF;
    background-color: #181818;
    border: 1px solid #181818;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;

    &:hover {
      background: transparent;
      color: #181818;
    }

    @media screen and (max-width: 1200px) {
      max-width: 311px;
      width: 100%;
    }
  }
}
